<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>

    <%- include('../partials/ButtonsHeaderGenre.ejs') %>

    <%- include('../partials/title.ejs') %>

    <ul>
        <% for( let i = 0; i < genres.length; i++ ) { %>
        <li>
            <a href="/genres/detail/<%= genres[i].id %>"><%= genres[i].name %></a>
        </li>
        <% } %>

    </ul>
</body>

</html>