<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <%- include('../partials/ButtonsHeader.ejs') %>    
    
    <h1><%= actor.first_name %> <%= actor.last_name %> </h1>
    <br>
    <p>NAME: <%= actor.first_name %> </p>
    <p>LAST NAME: <%= actor.last_name %> </p>
    <p>RANKING: <%= actor.rating %> </p>
    <br>
    <hr>
    <h3>Películas</h3>
    <br>
    <ul>
        <% for (const movie of movies) { %>
        <li class="sublista">
            <a href="/movies/detail/<%= movie.id %>"><%= movie.title %></a>
            <a href="/actors/remove/<%= actor.id %>/<%= movie.id %>">
                <button class="botonBorrar"> Eliminar </button>
            </a>
        </li>
        <% } %>
        <%= locals.movies && movies.length === 0 ? "El actor no tiene  películas asociadas" : null %>
    </ul>
    <br>
    <hr>
    <%- include('../partials/ButtonsFooter.ejs') %>
</body>
</html>