<%- include('../partials/head') -%>

<body>

    <%- include('../partials/header') -%>

    <h1 class="titulo"><%= data.title %>:  <%= Movie.title %></h1>
    <section class="formulario">
        <form action="/movies/update/<%= Movie.id %>" method="POST">

            <%- include('../partials/formInputs.ejs') -%>

            <br>

            <p> <button class="botonAgregar" type="submit">Actualizar</button>
        
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
</body>

</html>