<%- include('../partials/head') -%>
<body>
    <%- include('../partials/header') -%>
    
    <%- include ('../partials/ButtonsHeaderMovies.ejs') %>
    
    <%- include('../partials/title') -%>

    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <p>GENRE: <%= movie.genero.name %> </p>
    <br>

    <%- include ('../partials/ButtonsFooter.ejs') %>

</body>
</html>