<%- include('../partials/head') -%>
<body>

    <%- include('../partials/header') -%>

    <%- include('../partials/ButtonsHeaderMovies.ejs') -%>

    <h1 class="titulo"><%= data.title %></h1>
    <br>
    <section >
        <form action="/movies/assign/<%= movie.id %>" method="POST" class="assign">
            <select name="actor_id" id="actor_id" required>
                <option value="" disabled  selected > - Seleccionar actor - </option>
                    <% actors.forEach(actor => { %>
                        <option value="<%= actor.id %>" >
                            <%= actor.first_name %> <%= actor.last_name %>
                        </option>
                    <% }); %>
            </select>

            <br>

            <section class="botones"> 
                <button class="botonAgregar" type="submit">Agregar</button>
                <a  class="botonVolver" href="/movies">Listado de Películas</a>
            </section>

        </form>
    </section>
    
</body>

</html>