<%- include('../partials/head') -%>

<body>

    <%- include('../partials/header') -%>

    <h1>Estas seguro de querer eliminar el actor <%= actor.first_name %> <%= actor.last_name %>, de la película <%= movie.title %>?</h1>
    <p>
        <form action="/movies/remove/<%= movie.id %>/<%= actor.id %>" method="post">
            <br>
            <p> <button class="botonBorrar" type="submit">Eliminar</button>
            
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </p>
    
</body>

</html>