<%- include('../partials/head') -%>

<body>
    <%- include('../partials/header') -%>
    <%- include('../partials/ButtonsHeader.ejs') -%>
    <h1>PELIÍCULAS ORDENADAS POR FECHA</h1>
    <br>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%=movies[i].id%>"><%= movies[i].title %> </a> 
            <br>
            <p><%= 'RELEASE DATE: ' + movies[i].release_date %> </p>
            <br>
        </li>
        <% } %>
        
    </ul>
</body>
</html>