<!DOCTYPE html>
<html>
  <head>
    <title>Clase en Vivo 26</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="<%= locals && locals.msg ? msg.bkg : ' '  %>">
    <h2> Registro </h2>
    <div class="form-container">
      
      <form action="/" method="post">
        
        <div class="form-field">
          <label for="name">Ingrese su Nombre:</label>
          <br>
          <input type="text" id="name" name="name" value="<%= locals.oldData ? oldData.name : null %>" >
          <br>
          <% if (locals.errors && errors.name) { %>
            <p ><%= errors.name.msg %></p>
          <% } %>
        </div>
        
        <div class="form-field">
          <label for="email">Ingrese su Correo Electrónico:</label>
          <br>
          <input type="text" id="email" name="email" value="<%= locals.oldData ? oldData.email : null %>">
          <br>
          <% if (locals.errors && errors.email) { %>
            <p ><%= errors.email.msg %></p>
          <% } %>
        </div>
        
        <div class="form-field">
          <label for="age">Ingrese su Edad:</label>
          <br>
          <input type="text" id="age" name="age" value="<%= locals.oldData ? oldData.age : null %>">
          <br>
          <% if (locals.errors && errors.age) { %>
            <p ><%= errors.age.msg %></p>
          <% } %>
        </div>

        <div class="form-field">
          <label for="color">Seleccione un color</label>
          <br>
          <select name="color" id="color" class="form-input">
            <option value="">Elegí</option>
            <option value="1" class="option1" <%= locals.oldData && oldData.color == "1" ? "selected" : null %>>Rojo</option>
            <option value="2" class="option2" <%= locals.oldData && oldData.color == "2" ? "selected" : null %>>Amarillo</option>
            <option value="3" class="option3" <%= locals.oldData && oldData.color == "3" ? "selected" : null %>>Azul</option>
            <option value="4" class="option4" <%= locals.oldData && oldData.color == "4" ? "selected" : null %>>Gris</option>
          </select>
          <% if (locals.errors && errors.color) { %>
            <p ><%= errors.color.msg %></p>
          <% } %>
        </div>

        <div class="form-field">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>

    <div class="button-container">
      <div>
        <a href="/greetings">
          <button type="submit">Saludar</button>
        </a>
      </div>

      <div>
        <a href="#">
          <button type="submit">Olvidar</button>
        </a>
      </div>
    </div>

    <span>
        <%= locals && locals.msg ? `Hola ${msg.name}, elegiste el color: ${msg.color}, tu email es:
        ${msg.email} y tu edad ${msg.age}` : "" %>
    </span>
  </body>
</html>
