<%- include('partials/head') -%>

<body>

    <%- include('partials/header') -%>

    <%- include('partials/moviesHeaderButtons') -%>
    
    <ul>

        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
        </li>
        <% } %>

    </ul>
</body>

</html>